body
{
	margin: 0;
	padding: 0;
	font: 13px/18px 'Open Sans', arial, sans-serif;
	font-weight: 400;
	color: #555;
}

h1
{
	font-weight: normal;
	color: #444;
	text-transform:uppercase;
	font-size: 16px;
}

h2
{
	font-weight: normal;
	color: #555;
	text-transform:uppercase;
	font-size: 14px;
}

a
{
	text-decoration: none;
	color: #1E90FF;
}
a:hover 
{
	cursor: pointer;
}

#wrapper
{
	width: 900px;
	margin: 0 auto;
}

#header
{
	width: 900px;
	padding: 5px 0 5px 0;
	height: 140px;
	background-image: url("/images/header.png");
}

#header #logo
{
	float: left;
	width: 240px;
	height: 140px;
	background: url("/images/logo.png") center no-repeat;
}

#header #orglogo
{
	float: left;
	width: 540px;
	height: 140px;
	margin: 0 40px 0 60px;
	background: url("/images/orglogo.png") left center no-repeat;
}

#bar
{
	width: 240px;
	float: left;
}

#menu
{
	width: 240px;
	float: left;
	border-top: 1px solid #AAA;
	padding: 40px 0 40px 0;
}

#menu div
{
	display: block;
	text-align: center;
}

#menu a
{
	
	
	padding: 0 10px 0 10px;
	height: 32px;
	font-weight: 300;
	color: #444;
	background-color: white;
	text-transform:uppercase;
	font-size: 16px;
	line-height: 32px;
	display: inline;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#blog
{
	width: 240px;
	float: left;
	border-top: 1px solid #AAA;
	padding: 40px 0 40px 0;
}

#blog div
{
	display: block;
	text-align: left;
}

#blog a
{
	padding: 0 10px 0 20px;
	background-color: white;
	font-size: 12px;
	display: inline;
}

#profile
{
	width: 240px;
	float: left;
	border-top: 1px solid #AAA;
	padding: 40px 0 40px 0;
	text-align: center;
}
#profile table
{
	margin: 20px auto 20px auto;
}
#profile table tr td
{
	text-align: left;
}

#content
{
	width: 540px;
	margin: 0 40px 0 40px;
	padding: 20px;
	float: left;
	border-top: 1px solid #AAA;
}

.slides_container {
	width:540px;
	height:240px;
}
.slides_container div {
	width:540px;
	height:240px;
	display:block;
}

.pagination {
	margin: 10px auto 10px auto;
	width: 79px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}